In [229]:
#Dependencies 

import pandas as pd
from bs4 import BeautifulSoup
import requests
import os
from splinter import Browser

In [230]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'

# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [231]:
# Print soup to make sure the html is there
#print(soup.prettify())

In [232]:
# Retrieve the parent divs for all articles
# results = soup.find_all('div', class_='content_title')
# results

news_title = soup.find('div', class_='content_title').find('a').text.strip()
p_news = soup.find('div', class_='rollover_description_inner').text.strip()
p_news

print(news_title)
print(p_news)

NASA to Host Virtual Briefing on February Perseverance Mars Rover Landing
NASA leadership and members of the mission will discuss the agency’s latest rover, which touches down on the Red Planet on Feb. 18.

In [233]:
# titles = []
# # Loop through returned results
# for result in results:
#     # Access the thread's text content
#     title_text = result.a.text
# #     print(title_text)

#     titles.append(title_text)

# titles

# news_titles = []

# for title in titles:
#     news_titles.append(title.strip())

# print(news_titles)

# aResults = soup.find_all('div', class_='rollover_description_inner')
# aResults

# p = []
# # Loop through returned results
# for result in aResults:
#     p.append(result.text)

# news_p = []

# for text in p:
#     news_p.append(text.strip())
# print(news_p)

In [234]:
featured_img_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'

# Retrieve page with the requests module
response = requests.get(img_url)
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

featured_image = soup.find_all('a')

#Is the nasa website blocking href? #While inspecting the element I clearly see the href but
#when i print it here it's blank

print(featured_image)

[<a class="navbar-brand" href="#"><img id="logo" src="image/nasa.png"/><span class="logo">Jet Propulsion Laboratory</span>
<span class="logo1">California Institute of Technology</span></a>, <a class="nav-link" href="#"><i aria-hidden="true" class="fa fa-bars"></i>   MENU   <i aria-hidden="true" class="fa fa-search"></i></a>, <a class="showimg fancybox-thumbs" href="" target="_blank"> <button class="btn btn-outline-light"> FULL IMAGE</button></a>]

In [261]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [225]:
browser.visit(img_url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [226]:
featured_image = soup.find('a', class_='showimg fancybox-thumbs')
href = featured_image['href']
href

'image/featured/mars2.jpg'

In [239]:
img_url = featured_img_url.replace('index.html', '')
print(img_url+href)

https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars2.jpg

In [246]:
facts_url = 'https://space-facts.com/mars/'
response = requests.get(facts_url)
soup = BeautifulSoup(response.text)
#print(soup.prettify())

In [256]:
tables = pd.read_html(facts_url)
df = table_scrape[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [257]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [262]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
hemis_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemis_url)

In [269]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
aitems = soup.find_all('a', class_='item')
base_url = hemis_url.replace('/search/results?q=hemisphere+enhanced&k1=target&v1=Mars', '')

In [270]:
for item in aitems:
    title = item.find('h3').text

Valles Marineris Hemisphere Unenhanced
Valles Marineris Hemisphere Enhanced
Syrtis Major Hemisphere Unenhanced
Syrtis Major Hemisphere Enhanced
Schiaparelli Hemisphere Unenhanced